<!DOCTYPE html>
<html>
<head>
	<%-include("./include/Head.ejs")  %>
	<link rel="stylesheet" href="css/loginPage.css">
</head>
<body>
	<header>
		<%-include("./include/NavBar.ejs") %>
	</header>

	<main class="container d-flex flex-column justify-content-center align-items-center">
		<!-- Page Content goes here -->
		<%-include("./include/LoginForm.ejs") %> 
	</main>
</body>
</html>