<!DOCTYPE html>
<html>
	<head>
		<%-include("./include/Head.ejs")  %> 
	</head>
	<body>
		<header>
			<%-include("./include/NavBar.ejs") %>
		</header>
		
		<main class="container d-flex flex-column justify-content-center align-items-center">
			<!-- Page Content goes here -->
			<%-include("./include/RegisterForm.ejs") %>
		</main>

		<script src="js/register.js"></script>
	</body>
</html>