<!DOCTYPE html>
<html>
	<head>
		<%-include("../include/head.ejs")  %> 
	</head>
	<body>
		<header>
			<%-include("../include/nav-bar.ejs") %>
		</header>
		<section class="container d-flex flex-column justify-content-center align-items-center">
			<!-- Page Content goes here -->
			메인
		</section>
		
	</body>
</html>